@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* body {   
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
} */
 

@layer base {
  html {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, sans-serif;
  }
   h1, h2, h3, h4 {
    letter-spacing: -0.01em;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-weight: 600;
  }

  h3, h4 {
    font-weight: 500;
  }
}
 